@charset "ISO-8859-1";

.form-container{
	width:40%;
	height:20%;
	display:flex;
	justify-content:center;
	background-color:lightyellow;
	opacity:0.8;
	
	border-radius:40px;
	border-style:solid;
	border:5px solid black;
	margin-left:50%;
	margin-top:120px;
	padding-top:50px;
	padding-left:50px;
	padding-bottom:50px;
}

body{
	margin:0;
	font-size:30px;
	background-image:url(images/votingImageProject11.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	font-family: Arial, Helvetica, sans-sarif;
	padding-bottom:40px;
	
}

.nav-bar{
	color:white;
	overflow:hidden;
	justify-content:right;
	padding: 35px;
	font-size:30px;
	background-color:black;
	position:fixed;
	top:0;
	width:100%;
}

.nav-bar a{
	margin-left:30px;
	margin-right:20px;
	cursor:pointer;
	color:white;
}

.form-elements{
	font-size:30px;
	margin-left:0;
	margin-top:20px;
	margin-bottom:20px;
	border:2px;
	border-radius:30px;
	height:50px;
	
}

.form-container h3{
	margin-left:0;
}
 .form-label{
 margin-left:0;
 }
 
 .form-container a{
 	color:darkblue;
 	cursor:pointer;
 	 
 	
  }
  

.form-input{
	text-align:center;
	background-color:lightblue;
	width:80%;
	border-style:solid;
	border:1px solid black;
}

.form-button{
	background-color:lightgreen;
	width:80%;
	cursor:pointer;
	border-style:solid;
	border:1px solid black;
}

 
.party-img{
	width:40px;
	height:40px;
}


 .checkTable{
	background-color:lightblue;
	opacity:0.8;
	height:80%;
	display:flex;
	border-radius:40px;
	border-style:solid;
	border:5px solid black;
	margin-left:50%;
	margin-top:120px;
	padding-top:20px;
	padding-left:50px;
	 
	justify-content:center;
	align-items:center;
	position:fixed;
	
	
}

.checkTable img{
	height:100px;
	width:100px;
}

.checkTable td,th{
	padding: 10px 60px;
}


.index-a{
	margin-left: 32%;
	
}

.admin-a{
	margin-left: 20%;
	
}

.about{
 
	font-family: Helvetica;
	margin-top:5%;
	height:100%;
	position:fixed;
	padding-left:20px;
	text-align:center;
	opacity:0.8;
	background-color:lightblue;
	 
}
.about p{
	padding-top:20px;
	padding-left:80px;
	padding-right:80px;
	font-weight: bold;
	padding-bottom:0px;
}


.about img{
	width:400px;
	height:350px;
	margin-right:40px;
}









